.DS_Store
__pycache__
.ipynb_checkpoints
examples/custom_data/
examples/tmp
env/
examples/relevant_jobs_classification/data/
test_env/
examples/configs/
*.csv
*.pkl
*.json

examples/code_langchain/vectorstore/
